include: '.gitlab/templates/.test.yml'

stages:
  - test
  - build
  - deploy

variables:
  REMOTE_SERVER_APP_PATH: /home/sotrans/main-service


.set-ci-variables: &set-ci-variables  # установка переменных окружения из GitLab CI Variables
  - rm .env -f
  - echo "KEYCLOAK_SERVER_URL=$KEYCLOAK_SERVER_URL" >> .env
  - echo "KEYCLOAK_CLIENT_ID=$KEYCLOAK_CLIENT_ID" >> .env
  - echo "KEYCLOAK_CLIENT_SECRET=$KEYCLOAK_CLIENT_SECRET" >> .env
  - echo "KEYCLOAK_ADMIN_CLIENT_ID=$KEYCLOAK_ADMIN_CLIENT_ID" >> .env
  - echo "KEYCLOAK_ADMIN_CLIENT_SECRET=$KEYCLOAK_ADMIN_CLIENT_SECRET" >> .env
  - echo "KEYCLOAK_REALM=$KEYCLOAK_REALM" >> .env
  - echo "KEYCLOAK_LOGIN_CALLBACK_URL=$KEYCLOAK_LOGIN_CALLBACK_URL" >> .env
  - echo "MONGO_USER=$MONGO_USER" >> .env
  - echo "MONGO_PASSWORD=$MONGO_PASSWORD" >> .env
  - echo "MONGO_DB_NAME=$MONGO_DB" >> .env
  - echo "MONGO_URI=mongodb://$MONGO_USER:$MONGO_PASSWORD@sotrans_mongodb:27017" >> .env
  - cat .env

push to docker:
  stage: build
  only:
    - tags
  except:
    - branches
  script:
    - echo $CI_REGISTRY_USER
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.git.the-devs.com
    - docker build -t $REGISTRY_HOST_URL/$CI_PROJECT_PATH:$CI_COMMIT_TAG .
    - docker push $REGISTRY_HOST_URL/$CI_PROJECT_PATH:$CI_COMMIT_TAG
  tags:
    - 5.188.119.62-docker

deploy to dev:
  stage: deploy
  when: manual
  script:
    - *set-ci-variables
    - docker-compose -f docker-compose.dev.yml up --build -d
  environment:
    name: production
  tags:
    - 109.248.203.99-shell

deploy to integration:
  stage: deploy
  when: manual
  script:
    - *set-ci-variables
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.git.the-devs.com
    - docker-compose -f docker-compose.integration.yml up --build -d
  environment:
    name: production
  tags:
    - 185.250.149.220-shell

